@import "mixins";

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    @include flex();
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.container {
    background: #00000030;
    padding: 10px 20px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    color: #ffffff95;
    height: 100%;
    border: 1px solid #ffffff50;
    border-radius: 9px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 100ms;
    min-height: 400px;
    min-width: 400px;
    .updates-block {
        list-style: none;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .updates-section {
        padding: 5px 10px;
        margin-top: 20px;
        border: 1px solid #00000020;
        border-radius: 8px;
    }
    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .form {
        display: flex;
        gap: 10px;

        input {
            flex: 1;
            padding: 10px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            font-size: 18px;
            border-radius: 8px;
            color: #ffffff95;
            border: 1px solid #ffffff20;
            background: #00000050;
            transition: 100ms;
            &:hover {
                background: #00000080;
                transition: 100ms;
            }
        }

        button {
            flex: 0 0 120px;
            padding: 10px;
            color: #ffffff95;
            border: 1px solid #ffffff20;
            background: #00000050;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            font-size: 18px;
            border-radius: 8px;
            cursor: pointer;
            transition: 100ms;
            &:hover {
                background: #00000080;
                transition: 100ms;
            }
        }
    }
}

@include max(476px) {
    .container {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
        min-width: 0px;
        margin: 0;
    }
    .form {
        flex-direction: column;
        input {
            flex: 40px;
        }
        button {
            max-height: 43px;
        }
    }
}
