@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 24px;
    font-weight: 400;
}
h2 {
    font-size: 25px;
    font-weight: 500;
}
ul {
    display: grid;
    gap: 12px;
}
li {
    list-style-type: none;
}
.container {
    width: 1000px;
    min-height: 600px;
    background: #8FD4ED;
    background: linear-gradient(141deg,rgba(143, 212, 237, 1) 0%, rgb(197, 100, 230) 100%);
    border-radius: 20px;
    padding: 25px 60px;
    margin: 0 auto;
    display: flex;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.137);
    flex-direction: column;
    gap: 25px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.element {
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-1 .element-1 {
    width: 60%;
}
.row-1 .element-2 {
    width: 29%;
}
.row-1 .element-2 img {
    position: relative;
    top: 2px;
    left: 4px;
}
.row-2 .element-1 {
    width: 71%;
    flex-direction: column;
    justify-content: start!IMPORTANT;
    align-items: start!IMPORTANT;
    height: 500px;
    gap: 20px;
}
.row-2 .element-1 .form input {
    width: 500px;
    padding: 5px 10px;
    height: 40px;
    font-size: 20px;
    background: #f3f3f3;
    border: none;
    border-radius: 10px;
}
.row-2 .element-1 .form button {
    width: 100px;
    padding: 5px 10px;
    margin-left: 10px;
    background: #8fedab;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.row-2 .element-2 {
    width: 19%;
    justify-content: start!IMPORTANT;
    gap: 20px;
    flex-direction: column!IMPORTANT;
}
.update {
    background-color: #00000010;
    padding: 10px 20px;
    border-radius: 10px;
}
.update .update-number {
    font-size: 20px;
    margin-bottom: 5px;
}
#weather {
    background-color: #00000010;
    border-radius: 15px;
}
#weather div {
    padding: 10px 20px;
}
#weather p {
    font-size: 18px;
}